<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/header.ejs')%>
    <main class="container content">
      <div class="card">
        <div class="card-header">
          <div>
            <img class="avatar" src="/img/avatar-example.png" />
            <b>Vinny Oliveira</b>
          </div>
          <img src="/img/icons/more-vertical.svg" />
        </div>
        <div class="card-img">
          <img src="/img/publication_example.jpg" />
        </div>
        <div class="card-body">
          <div class="card-itens">
            <div class="likes">
              <img src="/img/icons/heart.svg" />
              <b>10 likes</b>
            </div>
            <b>Postado no dia: 20/20/2020</b>
          </div>
          <div class="card-comments">
            <p><b>Mario Luz</b> Que incrivel!</p>
          </div>
        </div>
        <form class="form-comments">
          <input type="text" hidden name="postId" />
          <input
            type="text"
            placeholder="Adicione um comentário..."
            name="description"
          />
          <button type="submit">Publicar</button>
        </form>
      </div>
    </main>
  </body>
</html>
