<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <main class="container content">
      <section class="post card">
        <div>
          <% if(typeof error != 'undefined'){%>
          <h4><%= error %></h4>
          <% } %>
        </div>
        <h2>Criar publicação</h2>
        <p>Faça o upload da foto que deseja postar!</p>
        <form action="/publicar" method="POST" enctype="multipart/form-data">
          <label for="photo">Selecione a foto</label>
          <br />
          <input type="file" name="photo" id="photo" />
          <button type="submit" class="btn btn-send">Postar</button>
        </form>
      </section>
    </main>
  </body>
</html>
